
#map{
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 230px;
  right:0px;
  background-color: #f5f5f5;
  z-index: 0;

}

div.ol-zoom {
        top: 20px;
        right: 15px;
        left: auto;
}
