
#map{
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 250px;
  right:0px;
  background-color: #f5f5f5;
  z-index: 0;

}


.cardmap{
  height: 200px;
  width: 100%;
  background-color: #f5f5f5;

}
#cards{
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 251px;
  right:0px;
  z-index: 1200;
  background-color: #fff;



}

div.ol-zoom {
        top: 20px;
        right: 15px;
        left: auto;
}

.arrow{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow:after {
  content: "";
  background: #fff;

  position: absolute;
  left: 20px;
  top: -5px;
  width: 25px;
  height: 25px;
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.12);
  transform:      rotate(45deg);
}

.full-width{
  width:100%;
}
.full-width-left{
  width:100%;
  text-align: left;
  justify-content: normal !important;
}
